*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display:flex;
    align-items: center;
    justify-content: space-between;
height: 80px;
position: fixed;
width: 100%;
background-color:#fff;
}

.menu{
    display: none;
}
nav{
    width: 60%;
}
ul{
    list-style: none;
    display:flex;
    justify-content: space-evenly;
}
main{
border: solid;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.azul{
    background-image: url(./img/laranja\ azul\ recorte.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#fff;
}
h2{
    font-size: 80px;
}
button{
    font-size: 60px;
    border: none;
    width: 500px;
    color: white;
    background-color: rgba(0, 183, 255, 0.952);
}
.fotos{
    width: 100%;
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-content: space-around;
}
figure{
    width: 23%;
    overflow: hidden;
}
figure img{
    width: 100%;
}
figure img:hover{
    transform: scale(120%);    
}
@media (max-width: 600px) {
 nav{
     display: none;
 }   
 .menu
 {
     display: initial;
 }
 header{
     justify-content: space-around;
 }
button{
    width: 80%;
}
.fotos{
    flex-direction: column;
}
.fotos figure {
    width: 80%;
}
}
