*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display:flex;
    align-items: center;
    justify-content: space-between;
height: 80px;
position: fixed;
width: 100%;
background-color:#fff;
}

.menu{
    display: none;
}
nav{
    width: 60%;
}
ul{
    list-style: none;
    display:flex;
    justify-content: space-evenly;

}
main{
border: solid;
}
.azul{
    background-image: url(./img/laranja\ azul\ recorte.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#fff;


}
h2{
    font-size: 80px;
    
}
button
{
    font-size: 60px;
    border: none;
}
.fotos{
    border: solid;
    width: 100%;
display: flex;
flex-direction: column;
justify-content: space-between;
}
div{
    display: flex;
    justify-content: space-evenly;
    
}
div img{
    width: 23%;
    
    
}